<section class="content-header" ng-init="getAllUsersreport()">
    <h1>
        Users
       <!--  <small>User Listing</small> -->
      </h1>
    <div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
    <ol class="breadcrumb">
        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Users</li>
    </ol>
</section>
<div ng-if="loader==true">
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-body table-responsive">
                <div class="box">
                    <div class="box-body ">
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-xs-8">
                                <!-- <div ng-class="alerttype" ng-show="showmessage">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div> -->
                            </div>
                            <div class="col-xs-4 pull-right">
                                <!-- <div class="pull-right m_btm15"><a href='/#/users/add' align='right'  class="btn btn-primary">Add New User</a></div> -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <form name="searchForm" novalidate ng-submit="getAllUsers()">
                            <div class="input-group">
                                <!-- <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted"  ng-model="isInvertedSearch" />
                                      </span> -->
                                <input type="text" id="ser" class="form-control" placeholder="Search term" name="searchTerm" ng-model="search" ng-change="getAllUsers()" required />
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"  ng-click="getAllUsers()">
                                          <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="box-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="font-size: 13px;"><a ng-click="Sort('first_name')" class="first_name">From User<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                                    <th style="font-size: 13px;"><a ng-click="Sort('first_name')" class="first_name">To User<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                                    <th style="font-size: 13px;"><a ng-click="Sort('name[0]')" class="name">Reason<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                                    <th style="font-size: 13px;"><a ng-click="Sort('name[0]')" class="name">Block<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                                    <!-- <th style="font-size: 13px;" width="20%"><a ng-click="Sort('created_date')" class="created_date" style="color: #ffffff;">Member Since<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="user in reports| orderBy:sort:reverse " ng-show="user.users[0] && user.friends[0]">
                                    <td>
                                        <a data-toggle="tooltip" title="View Details" ui-sref="barbersdetail({id:barber._id})">{{user.users[0].first_name}}  {{user.users[0].last_name}}</a>
                                    </td>
                                    <td>{{user.friends[0].first_name}} {{user.friends[0].last_name}}
                                    </td>
                                    <td>{{user.descrption}}
                                    </td>
                                    <td>
                                        <span ng-if="!user.friends[0].blocked || user.friends[0].blocked=='false'">
              <a data-toggle="tooltip" title="Block User" href="#" style="color: red;"><button style="font-size: 15px;
    width: 70px;border-radius: 10px;" ng-click="blockuser(user.friends[0]._id,user.users[0]._id)">Block</button></a></span>
                                        <span ng-if="user.friends[0].blocked==true">
              <a  data-toggle="tooltip" title="Unblock User" href="#" style="color: green;"><button style="font-size: 15px;
    width: 70px;border-radius: 10px;" ng-click="unblockuser(user.friends[0]._id,user.users[0]._id)">Unblock</button></a> </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0,tableParams.page())" ng-model="checkboxes.checked" class="select-all" value="" />
</script>
